faiss-cpu
fastapi
google-genai
google-generativeai
langchain
langchain-chroma
langchain-community>=0.3.0,<0.4.2
langchain-core
langchain-google-genai
langchain-openai
langgraph
numpy
openai
pinecone
pydantic
pygithub
python-dotenv
tiktoken
tree-sitter
tree-sitter-language-pack
uvicorn
langgraph-checkpoint-postgres
psycopg[binary]
pyjwt
bcrypt
boto3
